{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header image and text -->
<div class="p-5 text-center bg-image" id="header-img">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3" id="header-text">Skincare. For you.</h1>
      <a class="btn header-btn text-uppercase" href="#!" role="button"
      >shop now</a
      >
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block content %}
<main>
    <section></section>
</main>
{% endblock %}