/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Local font import */ 
@font-face {
    font-family: Mikela;
    src: url('../fonts/Mikela.otf') format('opentype');
}

/* Site structure */

html {
    width: 100%
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Fontstyling for Logo, Headings and Paragraphs */
h1, 
h2 {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 3rem;
    margin: 0;
}

h3,
h4 {
    color: black;
    font-family: 'Mikela', sans-serif;
}

h5 {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 0rem 0.75rem;
}

p {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#logo {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
    padding-left: 0.5rem;
}

.small {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
}

.medium {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

/* Search bar */

#search-input.show {
    display: block;
}

.search-bar::placeholder {
    font-family: 'Poppins', sans-serif;
}

/* Icons */

.navigation-icons {
    color: #036d03;
    font-size: 1.7rem;
}

.navigation-icons-mobile {
    color: #036d03;
    font-size: 1.1rem;
}

/* Nav Links */

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer !important;
}

.nav-links {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-links:hover, 
#logo:hover {
    color: #036d03;
    cursor: pointer;
    text-decoration: none;
}
 

/* Allauth */

.block-hr-divider {
    width: 70%;
}

.allauth-container {
    background-color: white;
    text-align: center;
    margin-top: 150px;
    padding: 2rem 3rem;
    width: auto;
}

.allauth-container label {
    display: block;
}

.allauth-container a {
    color: #036d03;
}

.allauth-form input {
    border: 1px solid black;
    border-radius: 0;
    padding: 0.5rem;
    width: 275px;
}

.allauth-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 0%;
    color: #036d03;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    box-shadow: 1px 2px 0px black;
}

.allauth-btn:hover {
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19);
}
