/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Local font import */ 
@font-face {
    font-family: Mikela;
    src: url('../fonts/Mikela.otf') format('opentype');
}

/* Fontstyling for Logo, Headings and Paragraphs */
h1, 
h2 {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 3rem;
    margin: 0;
}

h3,
h4 {
    color: black;
    font-family: 'Mikela', sans-serif;
}

h5 {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 0rem 0.75rem;
}

p {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#logo {
    color: #036d03;
    font-family: 'Mikela', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
    padding-left: 0.5rem;
}

.small {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
}

/* Search bar */

#search-input {
    position: absolute; 
    will-change: transform; 
    top: 0px; 
    left: 0px; 
    transform: translate3d(0px, 46px, 0px)!important;
}

.search-bar::placeholder {
    font-family: 'Poppins', sans-serif;
}

/* Icons */

.navigation-icons {
    color: #036d03;
    font-size: 1.7rem;
}
