<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link">
                <h5 class="text-uppercase">news</h5>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 class="text-uppercase">brands</h5>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item medium"><strong>#</strong></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 class="text-uppercase">products</h5>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="#" class="dropdown-item medium"><strong>Cleanser</strong></a>
                <a href="#" class="dropdown-item medium"><strong>Toner</strong></a>
                <a href="#" class="dropdown-item medium"><strong>Exfoliant</strong></a>
                <a href="#" class="dropdown-item medium"><strong>Serum</strong></a>
                <a href="#" class="dropdown-item medium"><strong>Eye cream</strong></a>
                <a href="#" class="dropdown-item medium"><strong>Sunscreen</strong></a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">
                <h5 class="text-uppercase">Skinformation</h5>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 class="text-uppercase">Sale</h5>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item medium"><strong>#</strong></a>
            </div>
        </li>
    </ul>
</div>