{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Meta data for SEO -->
    <meta name="description" content="Find The Best Skincare Essentials Exclusively At Peau Beauty. Good Routines Start Here. Your Skin, But Better." />
    <meta name="keywords" content="skincare online, clear skin, glowing skin, face care, face wash, cleanser, moisturiser, vitamin c serum, oily skin, dry skin, combination skin, skincare tips, skinformation, acne, blackheads, anti-aging, dermatologist recommended, dermatologist-tested, scientifically proven skincare, proffessional skincare" />
    <meta name="author" content="Peau Beauty" />

    <!-- Required Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extended_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/7d4de0b1bd.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extended_js %}
    {% endblock %}

    <title>Peau Beauty | Skincare Essentials & Proffessional Skincare Tips</title>
  </head>
  <body>
    <!-- Navigation menu and Logo -->
    <header class="container-fluid fixed-top">
        <div class="row bg-white d-none d-md-flex">
            <!-- Logo -->
            <div class="col-12 col-md-4 navbar">
                <a href="{% url 'home' %}" id="logo">peau</a>
            </div>
            <!-- Search bar -->
            <div class="col-12 col-md-4 my-auto w-100 search-bar">
                <form method="GET" action="" class="form-inline">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0 search-bar" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon" style="color: #036d03;">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Icons -->
            <div class="col-12 col-md-4 text-right">
                <ul class="list-inline list-unstyled text-right mt-4">
                    <li class="list-inline-item">
                        <a href="#">
                            <div class="text-center pr-1">
                                <div>
                                    <i class="fa-regular fa-heart navigation-icons"></i>
                                </div>
                                <p class="my-0 small">Favorites</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-black" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center pr-2">
                                <div>
                                    <i class="fa-regular fa-circle-user navigation-icons"></i>
                                </div>
                                <p class="my-0 small">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}" href="">
                            <div class="text-center pr-2">
                                <div>
                                    <i class="fa-solid fa-bag-shopping navigation-icons"></i>
                                </div>
                                <p class="my-0 small">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="nav-bar navbar-expand-md w-100">
                {% include 'includes/mobile-top-nav.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup" class="mt-5 mb-5">
                        <form action="https://icloud.us11.list-manage.com/subscribe/post?u=ab231bee9e976e68ebc4df6cc&amp;id=c75cf3400d&amp;f_id=00e39ce0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <h2>Don't miss a thing!</h2>
                            <p><small>Get exclusive offers and discount codes by subscribing to our monthly newsletter.</small></p>
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email newsletter-input" id="mce-EMAIL" required placeholder="Enter e-mail adress here . . .">
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true" class="newsletter-input">
                                <input type="text" name="b_ab231bee9e976e68ebc4df6cc_c75cf3400d" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 pt-2 pb-2">
                    <h4>COMPANY</h4>
                    <a href="#">
                        <p>We are Peau</p>
                    </a>
                    <a href="#">
                        <p>Vision and Values</p>
                    </a>
                    <a href="#">
                        <p>Terms and Conditions | Privacy</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 pt-2 pb-2">
                    <h4>CONNECT WITH US</h4>
                    <p>@peaubeauty</p>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in new browser tab)"><i class="fa-brands fa-facebook social-icons"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in new browser tab)"><i class="fa-brands fa-instagram social-icons"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our Youtube channel (opens in new browser tab)"><i class="fa-brands fa-youtube social-icons"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://tiktok.com" target="_blank" rel="noopener" aria-label="Visit our Tiktok page (opens in new browser tab)"><i class="fa-brands fa-tiktok social-icons"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 pt-2 pb-2">
                    <h4>HELP</h4>
                    <a href="#">
                        <p>Get in contact</p>
                    </a>
                    <a href="#">
                        <p>Shipping</p>
                    </a>
                    <a href="#">
                        <p>FAQ</p>
                    </a>
                </div>
            </div>
            <div class="row" style="background-color: white;">
                <div class="col-12">
                    <h1 id="logo-footer">peau</h1>
                    <p class="small">©Peau 2022. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>